<p id="notice"><%= notice %></p>
<strong>post id </strong>
<%= @post.id %>
<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<p>
	<strong>comments</strong>
	<div id="comments">
	<% @post.comments.each do |comment|%>
	<%= div_for comment do%>
	</strong><%= comment.id %>) comment<br/></strong>
	<%= time_ago_in_words(comment.created_at)%><br>
	<%= h(comment.body) %>
	
	<% end %>
	<% end %>
</div>
</p>

<p>
	<%= form_for ([@post, Comment.new]) do |p| %>
	<p><%= p.label :body, "New comment" %><br>
	<%= p.text_area :body %>
	</p>
	<%= p.submit "Add comment" %>
	<% end %>
</p>	

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
